@model CarEditModel

@{
	Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Car";
}

<h4 class="ml-4">Avtomobil</h4>
<div class="container-fluid">
	<!-- DataTables Example -->
	<div class="card mb-3">
		<div class="card-header">
			<i class="fas fa-table"></i>
			Elana duzelish et
		</div>
		<div class="card-body">
			<div class="table-responsive-sm">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="4">Xanaları doldurun</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								<div class="card text-center">
									<div class="card-body">
										<div class="row justify-content-center align-items-center">
											<div class="col-10 col-md-5 ">
                                                <form asp-area="Admin" asp-controller="transport" asp-action="caredit" method="post">
                                                    <input type="hidden" name="id" value="@Model.Id" />
                                                    <input type="hidden" name="appuserid" value="@Model.AppUserId" />
                                                    <input type="hidden" name="findtable" value="@Model.FindTable" />
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Şəhər</label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="CityId">
                                                            @foreach (var item in Model.Cities)
                                                            {
                                                                if (Model.CityId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Marka</label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="MakeId">
                                                            @foreach (var item in Model.Makes)
                                                            {
                                                                if (Model.MakeId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Model</label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="ModelId">
                                                            @foreach (var item in Model.Models)
                                                            {
                                                                if (Model.ModelId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Buraxılış
                                                            ili
                                                        </label>
                                                        <input type="number" asp-for="Year" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Kuzov
                                                            növü
                                                        </label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="BodyTypeId">
                                                            @foreach (var item in Model.BodyTypes)
                                                            {
                                                                if (Model.BodyTypeId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Rəng</label>
                                                        <input type="text" asp-for="Color" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Mühərrikin
                                                            həcmi
                                                        </label>
                                                        <input type="number" asp-for="Motor" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Mühərrikin
                                                            həcmi
                                                        </label>
                                                        @foreach (var item in Model.AutoEquipments)
                                                        {
                                                            var k = true;
                                                            @foreach (var ite in Model.SelectedAutoEquipments)
                                                            {
                                                                if (item.Id == ite.Id)
                                                                {
                                                                    k = false;
                                                                    <label>@item.Name</label>
                                                                    <input checked value="@item.Id" name="AutoEquipmentId" type="checkbox" class="form-control col-12 col-md-7">
                                                                }
                                                            }
                                                            if (k)
                                                            {
                                                                <label>@item.Name</label>
                                                                <input value="@item.Id" type="checkbox" name="AutoEquipmentId" class="form-control col-12 col-md-7">
                                                            }
                                                        }
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Mühərrikin
                                                            gücü
                                                        </label>
                                                        <input type="text" asp-for="MotorStrength" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Yanacaq
                                                            növü
                                                        </label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="FuelTypeId">
                                                            @foreach (var item in Model.FuelTypes)
                                                            {
                                                                if (Model.FuelTypeId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Yürüş</label>
                                                        <input type="number" asp-for="Kilometer" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">
                                                            Sürətlər
                                                            qutusu
                                                        </label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="SpeedBoxId">
                                                            @foreach (var item in Model.SpeedBoxes)
                                                            {
                                                                if (Model.SpeedBoxId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Ötürücü</label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="TransmissionId">
                                                            @foreach (var item in Model.Transmissions)
                                                            {
                                                                if (Model.TransmissionId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Yeni</label>
                                                        <input type="checkbox" asp-for="Condition" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Qiymət</label>
                                                        <input type="text" asp-for="Price" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Elanın tipi</label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="AnnounceTypeId">
                                                            @foreach (var item in Model.AnnounceTypes)
                                                            {
                                                                if (Model.AnnounceTypeId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Person type</label>
                                                        <select id="inputState" class="form-control col-12 col-md-7" asp-for="PersonTypeId">
                                                            @foreach (var item in Model.PersonTypes)
                                                            {
                                                                if (Model.PersonTypeId == item.Id)
                                                                {
                                                                    <option selected value="@item.Id">@item.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.Id">@item.Name</option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group row justify-content-end">
                                                        <div class="form-check col-12 col-md-4">
                                                            <input class="form-check-input col-1 col-md-1" asp-for="ConditionCredit">
                                                            <label class="form-check-label col-11 col-md-9">
                                                                Kredit
                                                            </label>
                                                        </div>
                                                        <div class="form-check col-12 col-md-4">
                                                            <input class="form-check-input col-1 col-md-1" @*type="checkbox"
                                                                   id="gridCheck" *@ asp-for="ConditionBarter">
                                                            <label class="form-check-label col-11 col-md-9" for="gridCheck">
                                                                Barter
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Email</label>
                                                        <input type="text" asp-for="Email" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Number</label>
                                                        <input type="text" asp-for="PhoneNumber" class="form-control col-12 col-md-7">
                                                    </div>
                                                    <div class="form-group row">
                                                        <label for="inputState" class="col-12 col-md-5 col-form-label">Description</label>
                                                        <textarea id="commentDescription" asp-for="Description" required cols="44" rows="5"></textarea>
                                                    </div>
                                                    <div class="form-group row justify-content-end">
                                                        <div class="form-check col-12 col-md-4">
                                                            <input type="checkbox" asp-for="AnnounceCheckIn" class="form-control  col-12 col-md-7">
                                                            <label class="form-check-label col-11 col-md-9">
                                                                Yoxlanıldı
                                                            </label>
                                                        </div>
                                                        <div class="form-check col-12 col-md-4">
                                                            <input type="checkbox" asp-for="AnnouncePublished" class="form-control col-12 col-md-7">
                                                            <label class="form-check-label col-11 col-md-9" for="gridCheck">
                                                                Derc olunsunmu?
                                                            </label>
                                                        </div>
                                                    </div>


                                                    <div class="container">
                                                        <h2>Gallery</h2>
                                                        <div class="row">
                                                            @foreach (var item in Model.Photos)
                                                            {
                                                                <div class="col-md-4">
                                                                    <div class="thumbnail">
                                                                        <a id="announcePhotoA" href="">
                                                                            <img src="@item.Path" alt="Lights" style="width:100%">

                                                                        </a>
                                                                        <div class="caption">
                                                                            <span style="cursor :pointer;padding:2px 5px;background:#c33;" data-id="@Model.Id" data-findtable="@Model.FindTable" data-photoid="@item.Id" id="deletePhoto">delete</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                //https://codepen.io/pen/
                                                                //https://developer.mozilla.org/ru/docs/Web/API/CanvasRenderingContext2D/drawImage
                                                                //https://css-tricks.com/manipulating-pixels-using-canvas/
                                                                //
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-auto">
                                                            <button type="submit" class="btn btn-success mb-2">Yadda saxla</button>
                                                        </div>
                                                    </div>
                                                </form>
											</div>
										</div>
									</div>
									
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

